.details-container {
  padding: 110px 30px 60px;
  max-width: 1100px;
  margin: auto;
}

.details-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background: white;
  border-radius: 14px;
  padding: 30px;
}

/* IMAGE */
.details-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

/* INFO */
.details-info h2 {
  margin-bottom: 15px;
}

.details-info p {
  margin-bottom: 20px;
  color: #374151;
}

.details-info .price {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}

.details-info button {
  padding: 14px 26px;
  background: var(--primary);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .details-card {
    grid-template-columns: 1fr;
  }

  .details-card img {
    height: 320px;
  }
}
